notebooks/b1.csv
notebooks/b1.png
notebooks/nautilus_analysis.ipynb
notebooks/output.csv
notebooks/ppo_trial3.csv
vista/
vista_nautilus/REINFORCE/Untitled.ipynb
vista_nautilus/REINFORCE/lstm_collision_reinforce.py
vista_nautilus/__MACOSX/
vista_nautilus/__init__.py
vista_nautilus/carpack01.zip
vista_nautilus/condaenv.oi_dtdhe.requirements.txt
vista_nautilus/demo.py
vista_nautilus/eval_results/speed_test.txt
vista_nautilus/eval_results/test2.txt
vista_nautilus/git_token.txt
vista_nautilus/mesa_18.3.3-0.deb
vista_nautilus/models/hcam_model.py
vista_nautilus/models/resnet34.py
vista_nautilus/multi-agent/
vista_nautilus/pyopengl/
vista_nautilus/requirements.txt
vista_nautilus/results/
vista_nautilus/saved_models/
vista_nautilus/sim_event.py
vista_nautilus/training_results/CNN/nautilus_demo.txt
vista_nautilus/training_results/CNN/nautilus_go.txt
vista_nautilus/training_results/CNN/organized_reinforce.txt
vista_nautilus/training_results/CNN/reinforce2_600x960.txt
vista_nautilus/training_results/CNN/reinforce_200x320.txt
vista_nautilus/training_results/CNN/reinforce_355x413.txt
vista_nautilus/training_results/CNN/reinforce_600x960.txt
vista_nautilus/training_results/LSTM/
